{% extends 'sistema/base_sistema.html' %}

{% block title %}Perfil de usuario{% endblock title %}

{% block accounts_content %}
<div class="page-header"><h2>Perfil de usuario</h2></div>
<div><h4>Bienvenido a nuestro Sistema en Linea</h4></div>
   
    <div>
    	<br><strong>Usuario: </strong> {{ user.username }}<br><br>
    	<br><strong>Nombre: </strong> {{ user.userprofile.nombre }}<br><br>
		<br><strong>Saldo: </strong> {{ user.userprofile.saldo }}<br><br>
    	<br><strong>Cuenta: </strong> {{ user.userprofile.codigo }}<br><br>
    </div>
{% endblock accounts_content %}