{% extends 'base.html' %}

{% block title %}Bienvenido{% endblock title %}

{% block content %}
    <h2 class="page-header">Bienvenido al sistema en linea del Banco de Gutemala</h2>
    <div class="creador-info">
    	<strong>En este sistema en linea, podras como usuario entrar desde cualquier dispositivo
            a nuestro sistema, el cual te permitira realizar funciones como pago de servicios, 
            transferencias electronicas y consulta de saldos, tanto de credito como debito. Todo
            esto sin tener que salir de tu casa.
        </strong>
{% endblock content %}